/* Stylesheet for Random Chuck Norris Machine */

/* Setup section */

/* Markup section */
body {
  width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
p {
	font-size: 24px;
  font-family: 'Special Elite', cursive;
}
/* ID section */
 #quote-elem {
   width: 90%;
   margin: 0;  
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(5%, -25%) 
}   
#blurb {
 font-size: 12px; 
 width: 50%;
  margin-left: auto;
  margin-right: auto; 
  width: 90%;
  text-align: center;
}
/* Class section */
.chuck-title {
	position: relative;
	background-color: white;
	padding: 5px; 
	margin: 160px 20px 10px 20px;
	box-shadow: 5px 5px 5px;
	border: 2px solid black;
	width: 90%;
  font-family: 'Special Elite', cursive;
}
.chuck-quote {
	position: relative;
	background-color : white;
	padding: 5px;
	margin: 0px 20px 20px 20px;
	text-align: center;
	box-shadow: 5px 5px 5px;
	border: 2px solid black;
	width: 90%;
  height: 175px;
}
.chuck-buttons{
    text-align: center;
}
.thechuck {
  vertical-align: middle;
  padding: 10px;
}
.chucktext {
  font-size: 24px;
  padding: 20px;
}
.new-button {
    background-color: #FFF; 
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
	  box-shadow: 5px 5px 5px;
    font-family: 'Special Elite', cursive;
}
.tweet-button {
	background-color: #FFF;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
	box-shadow: 5px 5px 5px;	
  font-family: 'Special Elite', cursive;
}
/* end Stylesheet */



